
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@if (CurrentPage.HasValue("carouselImagesThumb"))
{


<div id="sliderNew" class="flexslider">
  <ul class="slides">
	  @foreach (var image in Umbraco.Field("carouselImagesThumb").ToString().Split(',').Select(x=>Umbraco.Media(int.Parse(x)))){

    <li style="background-image: url(/imageGen.ashx?image=@image.Url&amp;width=1800);width:100%;background-size:cover;background-repeat:no-repeat;height:600px;" alt="@image.Name">
		
<img src="/imageGen.ashx?image=@image.Url&amp;width=1800" width="0" height="0" />
	</li>
	  }
  </ul>
</div>

	
    <div class="container thumb_container">
		<div class="row">
		<div class="col-md-8">
        <div id="carousel3" class="flexslider"  >
  <ul class="slides">
	  
	  @foreach (var image in Umbraco.Field("carouselImagesThumb").ToString().Split(',').Select(x=>Umbraco.Media(int.Parse(x)))){

   <li style="background-image: url(/imageGen.ashx?image=@image.Url&amp;width=400);" alt="@image.Name">
		
<img src="/imageGen.ashx?image=@image.Url&amp;width=400" width="0" height="0" />
	</li>
    }
	
		   

  </ul>
</div>
	  
	  </div>

        <div class="col-md-4">
            	@{ Html.RenderPartial("FreshDesk"); }

      
</div>
	</div>
	</div>
	

}