@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<div class="fresh_desk">
	<h2>@Umbraco.Field("#Help and Support")</h2>	
	<a style="margin-top:10px" type="button" href="@Umbraco.Content(1346).Url" class="btn"><i class="fa fa-pencil"></i> @Umbraco.Field("#Contact us")</a>
	<br />
	<a style="margin-top:10px" type="button" target="_blank" href="http://concierge.relaismaddalena.com/support/home" class="btn"><i class="fa fa-info-circle"></i> @Umbraco.Field("#FAQ & Forums") </a>
	</div>
