@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
		@if (CurrentPage.showTheMap == true){
			<div style="width: 100%;">
							<div id="map" class="mapStructBreak" style="height: 350px; border: 1px solid #979797;width:100%"></div>
					      
					      <div>
					        <div id="searchwell"></div>
					      </div>
		</div>
		}